.projectCard {
  max-width: calc(67vw / 4 );
  display: inline-block;
  position: relative;
  border-radius: 5px;
}

.imgContainer {
  height: auto;
  width: 100%;
}

/* .projectDescription {
  position: absolute;
} */

.background-image {
  width: 100%;
}