.page {
  padding: 0.5vh 15vw;
  min-height: 85vh;
}

.section {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  color: #0f0f0f;
}

ul {
  padding-inline-start: 20px;
}

p {
  margin-block-start: .2em;
}