
.socialMediaLinks {
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #DCF2FF;
  }
  
  .socialMediaIcon {
    padding-left: 1em;
  }