.jumbotron {
  display: flex;
  margin: 1vh 0 1vh 0;
}

.profileImageContainer {
  width: 15vw;
  height: 15vw;
  box-shadow: 0px 10px #dcf2ff;
}

.profileImage {
  max-width: 100%;
}

.jumboProfileInfo {
  padding: 20px;
}

/* smaller screens */
@media (max-width: 800px) {
  .jumbotron {
    flex-direction: column;
  }

  .profileImageContainer {
    width: 30vw;
    height: 30vw;
  }
}

/* tinny screens */
@media (max-width: 400px) {
  .profileImageContainer {
    width: 100%;
    height: auto;
  }
}