.jumbotron {
  display: flex;
  margin: 1vh 0 1vh 0;
}

.profileImageContainer {
  width: 200px;
  height: 200px;
  box-shadow: 0px 10px #DCF2FF;
}

.profileImage {
  width: 100%;
}

.jumboProfileInfo {
  padding: 20px;
}