.footer {
  position: relative;
  max-height: 8vh;
  margin-bottom: 2vh;
  bottom: 0%;
  padding:  0.5vh 15vw;
}

.menu {
  border-top: 1px black ridge;
  position: relative;
  display: flex;
  padding-top: 0.5rem;
}

.menuItem {
  padding-right: 1em;
  display: flex;
}

.footerEmail {
  padding-right: 0px;
  position: absolute;
  right: 0px;
}
